<div class="flex items-center justify-center h-screen bg-gray-50">
  <div class="w-[30%] bg-white shadow-lg p-8 rounded-lg">
    <h2 class="block text-2xl font-sans text-cyan-700 text-center pb-7 pt-6">
      Change Password
    </h2>
    <form (ngSubmit)="onSubmit()">
      <input
        type="password"
        [(ngModel)]="model.currentPassword"
        name="currentPassword"
        required
        placeholder="Current Password"
        class="w-full pl-4 pr-4 h-10 border-b-2 border-gray-300 text-gray-700 rounded-lg shadow-sm focus:outline-none focus:bg-white hover:bg-slate-100 mb-4"
      />
      <input
        type="password"
        [(ngModel)]="model.newPassword"
        name="newPassword"
        required
        placeholder="New Password"
        class="w-full pl-4 pr-4 h-10 border-b-2 border-gray-300 text-gray-700 rounded-lg shadow-sm focus:outline-none focus:bg-white hover:bg-slate-100 mb-4"
      />
      <button
        type="submit"
        [disabled]="loading"
        class="w-full bg-cyan-800 text-white py-2 rounded-lg hover:bg-cyan-900"
      >
        {{ loading ? "Changing..." : "Change Password" }}
      </button>
      <div
        *ngIf="message"
        class="text-center mt-4"
        [ngClass]="{
          'text-green-600': message.includes('success'),
          'text-red-500': !message.includes('success')
        }"
      >
        {{ message }}
      </div>
    </form>
  </div>
</div>
