<div class="flex justify-center">
  <div class="w-[50%] bg-white shadow-lg p-8 rounded-lg">
    <h2 class="block text-2xl font-sans text-cyan-700 text-center pb-7 pt-6">
      User Registration Form
    </h2>
    <form (ngSubmit)="onRegisterSubmit()" #registerForm="ngForm">
      <input
        type="email"
        [(ngModel)]="registerData.Email"
        name="Email"
        required
        placeholder="Email"
        class="w-full pl-4 pr-4 h-10 border-b-2 border-gray-300 text-gray-700 rounded-lg shadow-sm focus:outline-none focus:bg-white hover:bg-slate-100 mb-4"
      />
      <input
        type="text"
        [(ngModel)]="registerData.FirstName"
        name="FirstName"
        required
        placeholder="First Name"
        class="w-full pl-4 pr-4 h-10 border-b-2 border-gray-300 text-gray-700 rounded-lg shadow-sm focus:outline-none focus:bg-white hover:bg-slate-100 mb-4"
      />
      <input
        type="text"
        [(ngModel)]="registerData.LastName"
        name="LastName"
        required
        placeholder="Last Name"
        class="w-full pl-4 pr-4 h-10 border-b-2 border-gray-300 text-gray-700 rounded-lg shadow-sm focus:outline-none focus:bg-white hover:bg-slate-100 mb-4"
      />
      <select
        [(ngModel)]="registerData.Gender"
        name="Gender"
        required
        class="w-full pl-4 pr-4 h-10 border-b-2 border-gray-300 text-gray-700 rounded-lg shadow-sm focus:outline-none focus:bg-white hover:bg-slate-100 mb-4"
      >
        <option value="0">Select Gender</option>
        <option value="1">Male</option>
        <option value="2">Female</option>
      </select>
      <select
        [(ngModel)]="registerData.TimingCode"
        name="TimingCode"
        required
        class="w-full pl-4 pr-4 h-10 border-b-2 border-gray-300 text-gray-700 rounded-lg shadow-sm focus:outline-none focus:bg-white hover:bg-slate-100 mb-4"
      >
        <option *ngFor="let plan of timingplan" [value]="plan.id">
          {{ plan.descE }} ({{ plan.fromTime }} - {{ plan.toTime }})
        </option>
      </select>
      <select
        [(ngModel)]="registerData.DeptCode"
        name="DeptCode"
        required
        class="w-full pl-4 pr-4 h-10 border-b-2 border-gray-300 text-gray-700 rounded-lg shadow-sm focus:outline-none focus:bg-white hover:bg-slate-100 mb-4"
      >
        <option *ngFor="let dept of departments" [value]="dept.deptCode">
          {{ dept.descE }}
        </option>
      </select>
      <input
        type="text"
        [(ngModel)]="registerData.Role"
        name="Role"
        required
        placeholder="Role"
        class="w-full pl-4 pr-4 h-10 border-b-2 border-gray-300 text-gray-700 rounded-lg shadow-sm focus:outline-none focus:bg-white hover:bg-slate-100 mb-4"
      />
      <button
        type="submit"
        [disabled]="loading"
        class="w-full bg-cyan-800 text-white py-2 rounded-lg hover:bg-cyan-900"
      >
        {{ loading ? "Registering..." : "Submit" }}
      </button>
      <div *ngIf="errorMessage" class="text-red-500 text-center mt-4">
        {{ errorMessage }}
      </div>
    </form>
  </div>
</div>
