<div
  class="w-full max-w-4xl mt-10 bg-white p-12 rounded-2xl shadow-2xl mx-auto"
>
  <div
    class="flex justify-center items-center w-full rounded-md h-24 bg-primary mb-12"
  >
    <h3 class="text-3xl font-sans text-white arabic-text">معلومات المستخدم</h3>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-10">
    <div class="flex flex-row-reverse items-center gap-6">
      <label
        class="text-2xl font-sans text-primary whitespace-nowrap arabic-text"
        >القسم:</label
      >
      <div
        class="flex-1 p-4 border-b-2 bg-slate-50 border-gray-300 rounded-lg shadow-sm text-left"
      >
        <span class="arabic-text text-xl">شؤون الموظفين</span>
      </div>
    </div>
    <div class="flex flex-row-reverse items-center gap-6">
      <label
        class="text-2xl font-sans text-primary whitespace-nowrap arabic-text"
        >رقم القسم:</label
      >
      <div
        class="flex-1 p-4 border-b-2 bg-slate-50 border-gray-300 rounded-lg shadow-sm text-left"
      >
        <span class="arabic-text text-xl">101</span>
      </div>
    </div>
    <div class="flex flex-row-reverse items-center gap-6">
      <label
        class="text-2xl font-sans text-primary whitespace-nowrap arabic-text"
        >رقم الموظف:</label
      >
      <div
        class="flex-1 p-4 border-b-2 bg-slate-50 border-gray-300 rounded-lg shadow-sm text-left"
      >
        <span class="arabic-text text-xl">123456</span>
      </div>
    </div>
    <div class="flex flex-row-reverse items-center gap-6">
      <label
        class="text-2xl font-sans text-primary whitespace-nowrap arabic-text"
        >اسم الدخول:</label
      >
      <div
        class="flex-1 p-4 border-b-2 font-bold bg-slate-50 border-gray-300 rounded-lg shadow-sm text-left"
      >
        <span class="arabic-text text-xl">ahmedm</span>
      </div>
    </div>
    <div class="flex flex-row-reverse items-center gap-6">
      <label
        class="text-2xl font-sans text-primary whitespace-nowrap arabic-text"
        >اسم الموظف:</label
      >
      <div
        class="flex-1 p-4 border-b-2 bg-slate-50 border-gray-300 rounded-lg shadow-sm text-left"
      >
        <span class="arabic-text text-xl">أحمد محمد</span>
      </div>
    </div>
    <div class="flex flex-row-reverse items-center gap-6">
      <label
        class="text-2xl font-sans text-primary whitespace-nowrap arabic-text"
        >الرقم المدني:</label
      >
      <div
        class="flex-1 p-4 border-b-2 bg-slate-50 border-gray-300 rounded-lg shadow-sm text-left"
      >
        <span class="arabic-text text-xl">123456789012</span>
      </div>
    </div>
  </div>
</div>
